<!--Criação de um arquivo HTML para ser renderizado pelo Flask na rota principal -->
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudos Flask - camp code</title>
</head>

<body>

    <div>
        <a href="{{url_for('sobre')}}">Quem somos / </a> <!--link para a página sobre-->
        <a href="{{url_for('contato')}}">Contatos</a>  <!--link para a página contato-->
        <h3>Estudos Flask</h3>

        <hr>

        <h5>@campcodebrasil</h5>
        
    </div>

    <div>
        <p>Bem vindo {{context.usuario}} a aula de Flask!!!</p>
        <p><b>Idade</b> {{context.idade}} </p>

    </div>
    
</body>
</html>