<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
</head>

<body>
    
    <div>
        <a href="{{url_for('contato')}}">Contatos / </a>  <!--link para a página contato-->
        <a href="{{url_for('homepage')}}">Volte para página inicial</a> <!--link para a página principal-->
        <h2>Quem somos!</h2>

        <hr>

        <p>
            uma empresa de desenvolvimento de software que atua no mercado desde 2010. <br>
            com uma plataforma de ensino online, a empresa tem como objetivo capacitar profissionais de tecnologia da informação e áreas afins.
        </p>
    </div>

</body>
</html>