<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Flask Udemy</title>
</head>
<body>
    <div>
        <a href="{{url_for('contato')}}">Clik aqui para falar conosco</a>
        <h1>Página inicial</h1>
        <h3>Descrição do desafio</h3>
        <p>Bem vindos ao primeiro desafio de Python Web com Flask, nesse desafio devemos criar uma Landing Page, segue abaixo o que devemos estar fazendo nesse desafio:</p>

        <ol>
            <li>Configuração inicial do projeto</li>
            <li>Conectar a um repositório no github</li>
            <li>esenvolver a página com pelo menos 2 links, sendo uma página para apresentação e outra para contatos</li>
        </ol>

        <h3>O que é uma Landing Page?</h3>

                <p>Landing Page é uma página que tem como objetivo principal a conversão de visitantes em leads ou clientes. Ela é criada com um único propósito de conversão e contém elementos voltados para isso, como um texto atrativo, formulário, CTA, entre outros. As Landing Pages são muito utilizadas nas campanhas de Marketing Digital e costumam ter boas taxas de conversão.
                </p>
    </div>
    
</body>
</html>